html, body { height: 100%; }
body {
  background-color: #222;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 1.25;
  color: #eee;
}
@media (max-width: 400px) {
  body {
    font-size: 16px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
a {
  color: #E74C3C;
  text-decoration: none;
}
h1, h2 {
  font-size: inherit;
}
.caption {
  animation: typing 4s steps(40, end) forwards;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0;
  margin-bottom: 10px;
  width: 0;
}
.occupation {
  animation-delay: 4s;
}
.past {
  animation-delay: 8s;
}
.current {
  animation-delay: 12s;
}
.social-media {
  opacity: 0;
  animation: fade-in 1s ease-in forwards;
  transform: translateY(100%);
}
.social-media-list a {
  color: #2ECC71;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typing {
  from {
    width: 0;
    border-right: 3px solid #eee;
  }
  to {
    width: 100%;
    border-right: 0;
  }
}
